bleak==3.0.2
cryptography==45.0.7
paho-mqtt==2.1.0
winrt-Windows.Devices.Bluetooth==3.2.1; sys_platform == "win32"
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1; sys_platform == "win32"
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1; sys_platform == "win32"
winrt-Windows.Storage.Streams==3.2.1; sys_platform == "win32"
